/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    justify-content: center;
}
. wefr
:root {
    --first-color: #fff;
}

.header {
display:flex;
font-family: 'Montserrat', sans-serif;
overflow:hidden;
width: 100vw;

}

.button {
    display:flex;
}

.1 {

} */